.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content {
    width: 70%;
    margin-top: 20px;
}

.jobs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}